#############################
# Python Files & Environments
#############################
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/
.idea/
.vscode/

#############################
# Blink Camera Data
#############################
cameras/**/images/
cameras/**/logs/
*.jpg
*.jpeg
*.png

#############################
# OS Files
#############################
.DS_Store
Thumbs.db

#############################
# Temporary & Backup Files
#############################
*.tmp
*.bak