[Unit]
Description=Blink Webcam
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=beta-blink
WorkingDirectory=/home/beta-blink/Blink_WebCam
Environment=HOME=/home/beta-blink
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/beta-blink/Blink_WebCam/.blink/bin/python /home/beta-blink/Blink_WebCam/Blink_WebCam.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
